<!DOCTYPE html>
<html>
    <head>
        <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        </style>
    </head>
    <body>
        <div style="width: 85%; margin: 0 7.5%;">
            <div style="text-align: center; padding-left: 50px;">
                <h3>File Comparision Report</h5>
                <table>
                    <th>
                        <td>File Name</td>
                        <td>Top Right Color</td>
                        <td>Default Fps</td>
                        <td>HD Fps</td>
                        <td>SD Fps </td>
                        <td>Orginal Size (Byte)</td>
                        <td>Orginal Size (MB)</td>
                        <td>SD Size (Byte)</td>
                        <td>SD Size (MB)</td>
                        <td>HD Size (Byte)</td>
                        <td>HD Size (MB)</td>
                        <td>HD2SD Size (Byte)</td>
                        <td>HD2SD Size (MB)</td>
                        <td>HD > SD (Same Source)</td>
                        <td>HD > SD (HD to SD)</td>
                    </th>
                <% if (data.length > 0) { %>
                    <% data.forEach((data, index) => { index++%>
                       <tr>
                            <td><%= index %></td>
                            <td><%= data.Name %></td>
                            <td><%= data.topRightCornerAvrgColor %></td>
                            <td><%= data.DefaultFps %></td>
                            <td><%= data.HDFps %></td>
                            <td><%= data.SDFps %></td>
                            <td><%= data.OrginalSizeInByte %></td>
                            <td><%= data.OrginalSizeInMB %></td>
                            <td><%= data.SDSizeInByte %></td>
                            <td><%= data.SDSizeInMB %></td>
                            <td><%= data.HDSizeInByte %></td>
                            <td><%= data.HDSizeInMB %></td>
                            <td><%= data.HD2SDSizeInByte %></td>
                            <td><%= data.HD2SDSizeInMB %></td>
                            <td><%= data.SDSizeInByte < data.HDSizeInByte ? "Pass" : 'Fail' %></td>
                            <td><%= data.HD2SDSizeInByte < data.HDSizeInByte ? "Pass" : 'Fail' %></td>
                        </tr>
                    <%  });%>
                <% }%>
                </table>
             </div>
        </div>
    </body>
</html>